@{
    ViewBag.Title = "Horarios";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<style type="text/css">

   div.col-lg-8 table{border-collapse:collapse;
                      width:100%;
                      table-layout:fixed;

   }
   div.col-lg-8 tr {border: none;}
   div.col-lg-8 td{border-right: solid 1px #000;
                   border-left: solid 1px #000;  
                   text-align: center; 
   }
    .encabezado,.Horas {border-bottom:solid 1px #000;
                 border-top:solid 1px #000;
    }

    .ComboCursosSeleccionados {
        width: 25%;
    }
    .guia {
        width:0px;
        border-right:none;
    }
    
    .mitabla{
    font-size:x-small;
    color:#000;
    }
    .encabezado {
        font-size:medium;
    }
</Style>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        /* Deshabilitar componentes que no tienen datos cargados */
        $("#sltCurso").prop("disabled", "disabled");
        $("#sltGrupo").prop("disabled", "disabled");
        /* Funcion llamada cuando se cambien los valores de las sedes o las modalidades */
        $("#sltBloque").change(function () {
            var plan = getCookie("SelPlanDeEstudio");
            var route = "/BloqueXPlanXCurso/Cursos/List/" + plan + "/" + $('select[name="sltBloque"]').val();
            $.getJSON(route, function (data) {
                var items = "";
                $.each(data, function (i, curso) {
                    items += "<option value= " + curso.Value + ">" + curso.Text + "</option>";
                });

                
                $("#sltCurso").prop("disabled", false);
                $("#sltGrupo").html("");
                $("#sltGrupo").prop("disabled", "disabled");
                    $("#sltCurso").html(items);
                    $("#sltCurso").prepend("<option value='' selected='selected'>-- Seleccionar Curso --</option>");
                
            });
        });
        $("#sltCurso").change(function () {
            var plan = getCookie("SelPlanDeEstudio");
            var route = "/CursoProfesor/Grupos/List/" + $('select[name="sltCurso"]').val() + "/" + plan + "/" + $('select[name="sltBloque"]').val();

            $.getJSON(route, function (data) {
                var items = "";
                $.each(data, function (i, grupo) {
                    items += "<option value='" + grupo.Value + "'>" + grupo.Text + "</option>";
                });


                $("#sltGrupo").prop("disabled", false);
                $("#sltGrupo").html(items);
                $("#sltGrupo").prepend("<option value='' selected='selected'>-- Seleccionar Grupo --</option>");

            });
        });
    });

    function Cargar() {
        var cookie = getCookie("ACargar");//i es el nombre de la cookie, es un contador de cursos pero en toda la sesion no local
        var cantidad = 0;
        if (cookie != "" && cookie != null && !isNaN(cookie)) {
            cantidad = parseInt(cookie);
        }
        if (cantidad == 0) { return; }
        setCookie("i", cantidad.toString(), 1);
        for (var j = 1; j <= cantidad; j++) {
            var ArrayCookie = getCookie("Cookie" + j.toString()).split("|");
            var Curso = ArrayCookie[0];
            var Dia = ArrayCookie[1];
            var HoraInicioCookie = ArrayCookie[2];
            var HoraFinCookie = ArrayCookie[3];

            var Inicio = parseInt(HoraInicioCookie)
            var Fin = parseInt(HoraFinCookie)
            var i = Inicio
            //Actualizo la tabla con el nuevo curso
            var CantCeldas = 0;
            while (i < Fin) {

                var IdCelda = Dia + " " + i;
                if (i < 100) { IdCelda = Dia + " 0" + i; } //repara el string en caso de que la hora fuera 0010 ya que el parse la deja como 10
                if (i == 0) { IdCelda = Dia + " 000"; }

                var celda = document.getElementById(IdCelda);
                if (i == Inicio) {
                    var primera = celda;
                }
                else {
                    celda.parentNode.removeChild(celda);
                }

                i += 10;
                if (i % 100 == 60) { i += 40; }//cuando se llega al minuto 60 se le suman 40 al numero para que pase por ejemplo de 1060 a 1100
                CantCeldas++;
            }
            primera.innerHTML = Curso;
            primera.style.backgroundColor = "#3276b1";
            primera.rowSpan = CantCeldas.toString();
        }
    }

function AgregarCurso()
    {
    var table = document.getElementById("Resultado");
    var Curso = document.getElementById("sltCurso").options[document.getElementById("sltCurso").selectedIndex].text;
    var Bloque = document.getElementById("sltBloque").options[document.getElementById("sltBloque").selectedIndex].value;
    var Grupo = document.getElementById("sltGrupo").options[document.getElementById("sltGrupo").selectedIndex].value;
    var Aula = document.getElementById("sltAula").options[document.getElementById("sltAula").selectedIndex].text;
    var Dia = document.getElementById("ComboDia").options[document.getElementById("ComboDia").selectedIndex].value;
    var HoraInicio = document.getElementById("ComboHoraInicio").options[document.getElementById("ComboHoraInicio").selectedIndex].value;
    var HoraFin = document.getElementById("ComboHoraFin").options[document.getElementById("ComboHoraFin").selectedIndex].value;
    var MinInicio = document.getElementById("ComboMinutoInicio").options[document.getElementById("ComboMinutoInicio").selectedIndex].value;
    var MinFin = document.getElementById("ComboMinutoFin").options[document.getElementById("ComboMinutoFin").selectedIndex].value;

    var Inicio= parseInt(HoraInicio+MinInicio)
    var Fin = parseInt(HoraFin + MinFin)
    var i = Inicio

    if (Inicio==Fin) {
        alert("ERROR: La hora de inicio y fin son iguales");
        return;
    }
    if (Inicio > Fin) {
        alert("ERROR: La hora de inicio es posterior a la de fin");
        return;
    }
    //Valido que no existan choques para la hora seleccionada
    while (i < Fin) {

        var IdCelda = Dia + " " + i;
        if (i < 100) { IdCelda = Dia + " 0" + i; } //repara el string en caso de que la hora fuera 010 ya que el parse la deja como 10
        if (i == 0) { IdCelda = Dia + " 000"; }    //repara el string en caso de que la hora fuera 000 ya que el parse la deja como 0

        var celda = document.getElementById(IdCelda);
        if (celda.style.backgroundColor != "") {
            alert("ERROR: Existe un choque de horario,\n No se puede agregar el curso");
            return;
        }

        i += 10;
        if (i % 100 == 60) { i += 40; }
    }
    i = Inicio;
    var CantCeldas = 0;
    //Actualizo la tabla con el nuevo curso
    while (i < Fin)
    {

        var IdCelda = Dia + " " + i;
        if (i < 100) { IdCelda = Dia + " 0" + i; } //repara el string en caso de que la hora fuera 0010 ya que el parse la deja como 10
        if (i == 0) { IdCelda = Dia + " 000"; }

        var celda = document.getElementById(IdCelda);
        if (i == Inicio) {
            var primera = celda;
        }
        else {
            celda.parentNode.removeChild(celda);
        }
        
        i += 10;
        if (i % 100 == 60) { i += 40; }//cuando se llega al minuto 60 se le suman 40 al numero para que pase por ejemplo de 1060 a 1100
        CantCeldas++;
    }
    primera.innerHTML = Curso;
    primera.style.backgroundColor = "#3276b1";
    primera.rowSpan = CantCeldas.toString();

    //Actualizo el contador
    var cookie = getCookie("i");//i es el nombre de la cookie, es un contador de cursos pero en toda la sesion no local
    var cantidad = 0;
    if (cookie != "" && cookie != null && !isNaN(cookie)) {
        cantidad = parseInt(cookie);
    }
    cantidad++;
    setCookie("i", cantidad.toString(), 1);
    setCookie("Cookie" + cantidad.toString(), Curso + "|" + Dia + "|" + HoraInicio + MinInicio + "|" + HoraFin + MinFin + "|"+Bloque+"|"+Grupo+"|"+Aula, 1);
}

function EliminarCurso()
{
    var table = document.getElementById("Resultado");
    var Curso = document.getElementById("sltCurso").options[document.getElementById("sltCurso").selectedIndex].text;
    var Dia = document.getElementById("ComboDia").options[document.getElementById("ComboDia").selectedIndex].value;
    var HoraInicio = document.getElementById("ComboHoraInicio").options[document.getElementById("ComboHoraInicio").selectedIndex].value;
    var HoraFin;
    var MinInicio = document.getElementById("ComboMinutoInicio").options[document.getElementById("ComboMinutoInicio").selectedIndex].value;
    var MinFin;


    var Inicio = parseInt(HoraInicio + MinInicio)
    var Cookie = getCookie("i"); 
    if (Cookie == "" || Cookie == null || isNaN(Cookie)) {
        alert("ERROR: No hay cursos que eliminar");
        return;
    }
    //Busco la cookie que se va a eliminar
    var objetivo;
    var Cantidad = parseInt(Cookie);
    for (var j = 1; j <= Cantidad; j++)
    {
        var ArrayCookie = getCookie("Cookie" + j.toString()).split("|");
        var CursoCookie = ArrayCookie[0];
        var DiaCookie = ArrayCookie[1];
        var HoraInicioCookie = ArrayCookie[2];
        var HoraFinCookie = ArrayCookie[3];
        if (CursoCookie == Curso && DiaCookie == Dia && HoraInicioCookie == (Inicio.toString()))
        {
            objetivo = j;
            break
        }
    }
    //Elimino la cookie
    for (var j = objetivo; j < Cantidad; j++) {
        var k = j + 1;
        var ArrayCookieSiguiente = getCookie("Cookie" + k.toString()).split("|");
        var CursoCookieSiguiente = ArrayCookieSiguiente[0];
        var DiaCookieSiguiente = ArrayCookieSiguiente[1];
        var HoraInicioCookieSiguiente = ArrayCookieSiguiente[2];
        var HoraFinCookieSiguiente = ArrayCookieSiguiente[3];

        setCookie("Cookie" + j.toString(), CursoCookieSiguiente + "|" + DiaCookieSiguiente + "|" + HoraInicioCookieSiguiente + "|" + HoraFinCookieSiguiente, 1);
    }

    var Fin = parseInt(HoraFinCookie)
    //Actualizo la tabla
    var i = Inicio
    while (i < Fin) {
        var IdCelda = Dia + " " + i;
        if (i < 100) { IdCelda = Dia + " 0" + i; } //repara el string en caso de que la hora fuera 0010 ya que el parse la deja como 10
        if (i == 0) { IdCelda = Dia + " 000"; }

        if (i == Inicio) {
            var objetivo = document.getElementById(IdCelda);
            objetivo.innerHTML = "";
            objetivo.style.backgroundColor = "";
        }
        else {
            var columna;
            switch (Dia) {
                case "Lunes":
                    columna = 1;
                    break;
                case "Martes":
                    columna = 2;
                    break;
                case "Miercoles":
                    columna = 3;
                    break;
                case "Jueves":
                    columna = 4;
                    break;
                case "Viernes":
                    columna = 5;
                    break;
                case "Sabado":
                    columna = 6;
                    break;
                case "Domingo":
                    columna = 7;
                    break;
            }
            var fila = document.getElementById("Guia " + i).parentNode;
            var CeldaNueva = fila.insertCell(columna);
            CeldaNueva.id = IdCelda;
        }
        i += 10;
        if (i % 100 == 60) { i += 40; }//cuando se llega al minuto 60 se le suman 40 al numero para que pase por ejemplo de 1060 a 1100
    }
    objetivo.rowSpan = "1";
    Cantidad--;
    setCookie("i", Cantidad.toString(), 1);
}

function setCookie(cname,cvalue,exdays)
{

    document.cookie = cname + "=" + cvalue;
}

function ActualizarContadores() {
    setCookie("Cantidad", getCookie("i"), 1);
    setCookie("i", "0", 1);
}

function getCookie(cname)
{
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) 
    {
        var c = ca[i].trim();
        if (c.indexOf(name)==0) return c.substring(name.length,c.length);
    }
return "";
}
</script>

}


<div class="col-lg-4">
    <h2>Gestionar Horarios</h2>
    <hr />
        <div class="span12">
            <label>
                    Bloque
                </label>
                    <select id="sltBloque" name="sltBloque" class="form-control">
                        @if (ViewBag.Bloques != null)
                        {
                            <option value=" " selected="selected">-- Seleccionar Bloque --</option>
                            foreach (var item in ViewBag.Bloques)
                            {         
                            <option value="@item.ID">@item.Descripcion</option>
                            }
                        }
                        else
                        {
                            <option selected="selected">No hay Bloques</option>
                        }

                    </select>
            <div class="editor-label">
            <label>
                    Curso
                </label>
            </div>             
            <select id="sltCurso" name="sltCurso" class="form-control"></select>
            <label>
                    Grupo
                </label>
            <select id="sltGrupo" name="sltGrupo" class="form-control"></select>
    <label>
                    Aula
                </label>
            <select id="sltAula" name="sltAula" class="form-control">
                        @if (ViewBag.Aulas != null)
                        {
                            <option value=" " selected="selected">-- Seleccionar Aula --</option>
                            foreach (var item in ViewBag.Aulas)
                            {         
                            <option value="@item.ID">@item.Codigo</option>
                            }
                        }
                        else
                        {
                            <option selected="selected">No hay Aulas</option>
                        }

                    </select>
            <div class="editor-label">
            Dia
            </div>
            <div class="editor-field">
            @Html.DropDownList("ComboDia", new SelectList(ViewBag.Dias),new {@id="ComboDia"})
            </div>
            <div class="editor-label">
            Hora Inicio
            </div>
            @Html.DropDownList("ComboHoraInicio", new SelectList(ViewBag.Horas),new {@id="ComboHoraInicio"})
            @Html.DropDownList("ComboMinutoInicio", new SelectList(ViewBag.Minutos),new {@id="ComboMinutoInicio"})
            <div class="editor-field">
            </div>
            <div class="editor-label">
            Hora Fin
            </div>
            <div class="editor-field">
            @Html.DropDownList("ComboHoraFin", new SelectList(ViewBag.Horas),new {@id="ComboHoraFin"})
            @Html.DropDownList("ComboMinutoFin", new SelectList(ViewBag.Minutos),new {@id="ComboMinutoFin"})
            </div>            
            <br />
            <p>
            <button class="btn" onclick="AgregarCurso()">Agregar Curso</button>
            <button class="btn" onclick="EliminarCurso()">Eliminar Curso</button>
            </p>

            <form action="/Horarios/GuardarCambios" method="post" novalidate="novalidate">
            <input type="submit" onclick="ActualizarContadores()" value="GuardarCambios" class="btn btn-lg btn-primary btn-block" /> 
            </form>
    </div>
</div>

<div class="col-lg-8">
        <div class="span12">
        <table class="mitabla" id="Resultado">
                  <tr>
                    <td class="encabezado" id="vacio"></td>
                    <td class="encabezado" id="Lunes">Lunes</td>
                    <td class="encabezado" id="Martes">Martes</td>
                    <td class="encabezado" id="Miercoles">Miercoles</td>
                    <td class="encabezado" id="Jueves">Jueves</td>
                    <td class="encabezado" id="Viernes">Viernes</td>
                    <td class="encabezado" id="Sabado">Sabado</td>
                    <td class="encabezado" id="Domingo">Domingo</td>
                    <td class ="Guia" id="Guia"></td>
                  </tr>

                  @for (int hr = 0; hr<24; hr++ )
                   {
                      for (int min = 0; min<60; min=min+10 )
                      {
                          String Hora;
                          
                            if (min < 10)
                            {
                                Hora = hr.ToString() +"0"+ min.ToString();
                            }
                            else{
                                Hora = hr.ToString() + min.ToString();
                            }
                            String Lateral = Hora.Substring(0, Hora.Length - 2) + ":" + Hora.Substring(Hora.Length - 2, 2);
                            
                      <tr> 
                         @if(min==0){<td class="encabezado" id="@Hora" rowspan="6" class="Horas"> @Lateral</td>}
                        <td id="Lunes @Hora"></td>
                        <td id="Martes @Hora"></td>
                        <td id="Miercoles @Hora"></td>
                        <td id="Jueves @Hora"></td>
                        <td id="Viernes @Hora"></td>
                        <td id="Sabado @Hora"></td>
                        <td id="Domingo @Hora"></td>
                        <td class="Guia" id="Guia @Hora"></td>
                      </tr>
                      
                      }
                  }

                </table>
    </div>
</div>

